<%= form_with(model: lokasi) do |form| %>
  <% if lokasi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lokasi.errors.count, "error") %> prohibited this lokasi from being saved:</h2>

      <ul>
        <% lokasi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_lokasi %>
    <%= form.text_field :id_lokasi %>
  </div>

  <div class="field">
    <%= form.label :id_jalan %>
    <%= form.text_field :id_jalan %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
